{% extends 'base.html' %}
{% block title %}Создание работника{% endblock %}
{% block content %}
<body>
    <h1>Форма создания работника</h1>
    <form id="employeeForm">
        <label for="name">ФИО:
            <input type="text" id="name" name="name" required>
        </label>
        <label for="position">Специальность:
            <select id="position" name="position" required>
                {% for id,position, category in positions %}
            <option value="{{ position }}">{{ position }}</option>
        {% endfor %}
            </select>
        </label>
        <label for="sex">Пол:
            <select id="sex" name="sex" required>
                <option value="">Выберите пол</option>
                <option value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
            </select>
        </label>
        <label for="birth_date">Дата рождения:
            <input type="date" id="birth_date" name="birth_date" required>
        </label>
        <button type="submit">Создать работника</button>
    </form>

    <script>
        const API_BASE_URL = "http://localhost:8000/api";
        const BASE_URL = "http://localhost:8000";

        document.getElementById('employeeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());

            fetch(`${API_BASE_URL}/create-employee/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = BASE_URL;
                alert('Работник создан успешно!');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Ошибка при создании работника!');
            });
        });
    </script>
</body>
</html>
{% endblock %}