{% extends 'base.html' %}
{% block title %}Добавление работника{% endblock %}
{% block content %}

<body>
    <h1>Форма создания работника</h1>
    <form id="employeeForm">
        <div class="form-group">
            <label for="name">ФИО:
                <input type="text" id="name" name="name" required>
            </label>
        </div>
        <div class="form-group">
            <label for="position_name">Должность:
                <select id="position_name" name="position_name" required>
                    {% for id,position_name, category in positions %}
                        <option value="{{ position_name }}">{{ position_name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-group">
            <label for="sex">Пол:
                <select id="sex" name="sex" required>
                    <option value="">Выберите пол</option>
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label for="birth_date">Дата рождения:
                <input type="date" id="birth_date" name="birth_date" required>
            </label>
        </div>
        <button type="submit">Создать работника</button>
    </form>

    <script>
        const API_BASE_URL = "http://localhost:8000/api";
        const BASE_URL = "http://localhost:8000";

        document.getElementById('employeeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());

            fetch(`${API_BASE_URL}/create-employee/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Действия при успешном статусе');
                    alert('Работник изменен успешно');
                    window.location.href = BASE_URL;
                } else if (data.status === 'wrong language') {
                    console.log('Действия при ошибке');
                    alert('Допускается только русский язык (без использования цифр)');
                } else if (data.status === 'too young') {
                    console.log('Действия при ошибке');
                    alert('Возраст сотрудника должен быть не менее 18 лет');
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Ошибка при создании работника!');
            });
        });
    </script>
</body>
</html>
{% endblock %}