{% extends 'base.html' %}
{% block title %}Создание работника{% endblock %}
{% block content %}

<body>
    <h1>Форма редактирования работника</h1>
    <form id="employeeForm">
        <div class="form-group">
            <label for="name">ФИО:
                <input type="text" id="name" name="name" required>
            </label>
        </div>
        <div class="form-group">
            <label for="position_name">Должность:
                <select id="position_name" name="position_name" required>
                    {% for id,position_name, category in positions %}
                        <option value="{{ position_name }}">{{ position_name }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-group">
            <label for="sex">Пол:
                <select id="sex" name="sex" required>
                    <option value="">Выберите пол</option>
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                </select>
        </div>
        <div class="form-group">
            </label>
            <label for="birth_date">Дата рождения:
                <input type="date" id="birth_date" name="birth_date" required>
            </label>
        </div>
        <button type="submit">Обновить информацию</button>
        <button type="button" id="deleteButton">Удалить работника</button>
    </form>

    <script>
        const API_BASE_URL = "http://localhost:8000/api/";
        const BASE_URL = "http://localhost:8000";
        var id = JSON.parse ("{{id | escapejs}}");

        window.onload = function() {
            fetch(`${API_BASE_URL}get-employee/${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('name').value = data.name;
                    document.getElementById('sex').value = data.sex;
                    document.getElementById('birth_date').value = data.birth_date;
                    document.getElementById('position_name').value = data.position_name;
                })
                .catch(error => console.error('Ошибка при загрузке данных:', error));
        };

        document.getElementById('employeeForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            data.id = id;

            fetch(`${API_BASE_URL}update-employee/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Действия при успешном статусе');
                    alert('Работник изменен успешно');
                    window.location.href = BASE_URL;
                } else if (data.status === 'wrong language') {
                    console.log('Действия при ошибке');
                    alert('Допускается только русский язык (без использования цифр)');
                } else if (data.status === 'too young') {
                    console.log('Действия при ошибке');
                    alert('Возраст сотрудника должен быть не менее 18 лет');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ошибка при обновлении информации о работнике!');
            });
        });

        document.getElementById('deleteButton').addEventListener('click', function() {
            fetch(`${API_BASE_URL}delete-employee/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: id }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Действия при успешном статусе');
                    alert('Работник успешно удален');
                    window.location.href = BASE_URL;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ошибка при удалении работника!');
            });
        });
    </script>
</body>
{% endblock %}