{% extends 'base.html' %}
{% block title %}Форма редактирования должности{% endblock %}
{% block content %}

<body>
    <h1>Форма редактирования должности</h1>
    <form id="positionForm">
        <div class="form-group">
            <label for="name">Должность:
                <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="category">Категория:</label>
            <select id="category" name="category">
                <option value="руководитель">руководитель</option>
                <option value="специалист">специалист</option>
                <option value="служащий">служащий</option>
                <option value="рабочий">рабочий</option>
            </select><br><br>
        </div>
        <button type="submit">Обновить должность</button>
        <button type="button" id="deleteButton">Удалить должность</button>
    </form>

    <script>
        const API_BASE_URL = "http://localhost:8000/api";
        const BASE_URL = "http://localhost:8000/positions/";
        var id = JSON.parse ("{{id | escapejs}}");

        window.onload = function() {
            fetch(`${API_BASE_URL}/get-position/${id}/`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('name').value = data.name;
                    document.getElementById('category').value = data.category;
                })
                .catch(error => console.error('Ошибка при загрузке данных:', error));
        };

        document.getElementById('positionForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            data.id = id;

            fetch(`${API_BASE_URL}/update-position/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Действия при успешном статусе');
                    alert('Должность обновлена успешно');
                    window.location.href = BASE_URL;
                }
                else if (data.status === 'wrong language') {
                    console.log('Действия при ошибке');
                    alert('Допускается только русский язык');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Ошибка при обновлении должности!');
            });
        });

        document.getElementById('deleteButton').addEventListener('click', function() {
            fetch(`${API_BASE_URL}/delete-position/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ id: id }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Действия при успешном статусе');
                    alert('Должность удалена успешно');
                    window.location.href = BASE_URL;
                }

            })
            .catch(error => {
                console.error('Error:', error);
                alert('Невозможно удалить привязанную к сотруднику должность id: ' + id);
            });
        });
    </script>
</body>
</html>
{% endblock %}