click==8.1.7
colorama==0.4.6
Django==1.10
importlib-metadata==6.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.11.2
platformdirs==4.0.0
psycopg2==2.8.6
python-dotenv==0.21.1
tomli==2.0.1
typed-ast==1.5.5
typing_extensions==4.7.1
zipp==3.15.0
